{{ form_start(form) }}
<div, class="card">
    <div class="card-body">
        <div class="mb-3">
            {{form_label(form.nom,null,{
                'label':'nom',
                'label_attr': {'class': 'form-label'}
            })}}
            {{ form_widget(form.nom,{'attr':{'class':'form-control',"placeholder":"nom de l'enfant"}})}}
        </div>

        <div class="mb-3">
            {{form_label(form.prenom,null,{
                'label':'prenom',
                'label_attr': {'class': 'form-label'}
            })}}
            {{ form_widget(form.prenom,{'attr':{'class':'form-control','placeholder':'prenom de l\'enfant'}})}}  
        </div>

        <div class="mb-3">
            {{form_label(form.adresse,null,{
                'label':'adresse',
                'label_attr': {'class': 'form-label'}
            })}}
            {{ form_widget(form.adresse,{'attr':{'class':'form-control','placeholder':'adresse de l\'enfant'}})}}  
        </div>

        <div class="mb-3">
            {{form_label(form.telephone,null,{
                'label':'telephone',
                'label_attr': {'class': 'form-label'}
            })}}
            {{ form_widget(form.telephone,{'attr':{'class':'form-control','placeholder':'telephone de l\'enfant'}})}}  
        </div>

        <div class="mb-3">
            {{form_label(form.user.email,null,{
                'label':'email',
                'label_attr': {'class': 'form-label'}
            })}}
           {{ form_widget(form.user.email,{'attr':{'class':'form-control','placeholder':'mail de l\'enfant'}})}}

        </div>

        <div class="mb-3">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="niveau">
                <option selected>Selectionné le niveau de votre enfant</option>
                {% for niveau in niveaux %}
                <option value="{{niveau.id}}">{{ niveau.nom }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="classe_disponible">

        </div>

        {% if is_granted('ROLE_ADMIN') %}
            {# todo select parent #}
            <input type="hidden" value="à choisir" name="parent_id">
        {% elseif is_granted('ROLE_PARENT') %}
            <input type="hidden" value="{{ app.user.id }}" name="parent_id">
        {% else %}
            {# cas non pris en charge   #}
        {% endif %}
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">valider</button>
        </div>


    </div>
</div>
{{ form_end(form) }}

{% block extraJs %}
<script>
    console.log('ici');
    var url = "{{ path('app_niveau_json') }}";
    var srcf = "{{ csrf_token('niveau-item') }}";
    console.log(url);  
</script>
{{ encore_entry_script_tags('eleve') }}
{% endblock %}


